.header {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  border-bottom: 1px solid rgb(74, 74, 74);
  &__icon {
    margin-right: 1.2rem;
  }
  &__text {
    margin: 0;
    margin-right: 1rem;
    color: white;
    padding: 1rem 0;
    font-size: 0.8rem;
  }
  &__text:first-of-type {
    border-bottom: 2px solid white;
  }
}
